---
import Layout from '../../layouts/Layout.astro';
---
<Layout title="Micky van Zadelhoff" description="Persoonlijke website van Micky van Zadelhoff" lang="nl">
  <h1>Micky van Zadelhoff</h1>
</Layout>
